/* Navigation bar (month and arrows) */
.react-calendar__navigation {
  display: flex;
  height: 50px;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  color: black !important; /* ensure arrows are visible */
  min-width: 44px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.react-calendar__navigation__label {
  font-weight: bold;
  font-size: 1.1rem;
  color: black !important; /* month label color */
}

.react-calendar__navigation button:disabled {
  color: #ccc;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  color: black;
}

